.form{
    margin: 20px;
    padding: 1vw 5vw;
}
.btn1 {
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius:4px;
    background-color: #008CBA;
    color: white;
  }
  
  .btn1:hover{
    background-color: white; 
    color:#008CBA ; 
    border: 2px solid #008CBA;
  }
  .btn2 {
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius:4px;

    background-color: white; 
    color:red ; 
    border: 2px solid red;
  }
  
.btn2:hover{
    background-color: red;
    color: white;
  }
.form-control{
    margin:0px 20px 20px 0px;
    height: 30px;
    width: 97vw;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  td {
    border-bottom: 1px solid #ddd;
    padding: 8px 0px;
    text-align: left;
  }
  th{
    text-align: left;
  }
  
  
  button {
    cursor: pointer;
  }
  #description{
    width: 85vw;
    padding: 5px;
    margin: 10px 0px;
  }
  